@font-face {
  font-family: "overseer";
  src: url("./Overseer_Oblique.ttf");
}

@keyframes dance {
  0% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes move {
  0% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

$colour1: #ff00ff;
$colour2: #fffff8;
$colour3: #111111;
$colour4: #008000;

$font1: "overseer";

$header-height: 25vh;

* {
  box-sizing: border-box;
  color: $colour3;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: $colour1;
  border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1;
}

.app {
  background-blend-mode: screen;
  background-color: rgba($color: $colour2, $alpha: 0.7);
  background-image: url("./background.png");
  background-position: center;
  background-size: cover;
  .header {
    max-height: $header-height;
    overflow: hidden;
    .sheldon-wrapper {
      .sheldon {
        height: 140px;
      }
      .sheldon-dancing {
        animation: dance 1.5s infinite ease-in-out;
        transform-origin: center;
        display: inline-block;
      }
    }
    .sheldon-move {
      animation: move 2.8s infinite ease-in-out;
    }
    .title {
      font-size: 42px;
      letter-spacing: 7px;
      margin-top: -14px;
    }
  }
  .footer {
    height: 5vh;
    .footer-text {
      span {
        font-family: $font1;
        font-size: 21px;
      }
    }
  }
  .rules-page-link {
    background-color: $colour1;
    border-radius: 50%;
    cursor: pointer;
    font-size: 42px;
    padding: 6px;
    position: absolute;
    right: 14px;
    top: 14px;
  }
  .music-toggle {
    background-color: $colour1;
    border-radius: 50%;
    cursor: pointer;
    font-size: 42px;
    padding: 6px;
    position: absolute;
    right: 14px;
    top: 90px;
  }
}

.route {
  max-height: 70vh;
  min-height: 70vh;
  overflow-y: scroll;
}

.start-screen {
  position: relative;
  .start-screen-content-container {
    position: absolute;
    top: 42%;
    width: 100%;
    .start-screen-text {
      font-size: 28px;
      font-weight: bold;
    }
    .start-screen-buttons-container {
      display: flex;
      flex-direction: column;
      .start-screen-button {
        background-color: $colour1;
        border: none;
        border-radius: 7px;
        color: $colour2;
        cursor: pointer;
        font-size: 21px;
        margin-top: 14px;
        padding: 6px 0;
        transition: 0.6s ease-in-out font-size, 0.6s ease-in-out margin-top,
          0.6s ease-in-out padding, 0.6s ease-in-out width;
        width: 140px;
      }
      .start-screen-button:hover {
        font-size: 28px;
        margin-top: 8px;
        padding: 12px 0;
        width: 160px;
      }
      .start-screen-rules {
        background-color: $colour4;
      }
    }
  }
}

.rules-screen {
  padding-bottom: 42px;
  .rules-screen-paragraph {
    font-size: 21px;
    margin-top: 42px;
    margin-left: 50%;
    max-width: 600px;
    transform: translateX(-50%);
  }
  .rules-screen-rules {
    margin-top: 42px;
    .rules-screen-rule {
      margin-top: 7px;
    }
  }
  .rules-screen-back {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }
}
