@font-face {
  font-family: "overseer";
  src: url("./media/Overseer_Oblique.ttf");
}
@font-face {
  font-family: "vt323";
  src: url("./media/VT323.ttf");
}

@keyframes dance {
  0% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes move {
  0% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

$colour1: #ff00ff;
$colour2: #fffff8;
$colour3: #111111;
$colour4: #00ff66;

$font1: "overseer";
$font2: "vt323";

$header-height: 25vh;

* {
  box-sizing: border-box;
  color: $colour3;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: $colour1;
  border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1;
}

.app {
  background-blend-mode: screen;
  background-color: rgba($color: $colour2, $alpha: 0.7);
  background-image: url("./media/background.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  .header {
    max-height: $header-height;
    overflow: hidden;
    .sheldon-wrapper {
      .sheldon {
        height: 140px;
      }
      .sheldon-dancing {
        animation: dance 1.5s infinite ease-in-out;
        transform-origin: center;
        display: inline-block;
      }
    }
    .sheldon-move {
      animation: move 2.8s infinite ease-in-out;
    }
    .title {
      font-size: 42px;
      letter-spacing: 7px;
      margin-top: -14px;
    }
  }
  .footer {
    height: 5vh;
    .footer-text {
      span {
        font-family: $font1;
        font-size: 21px;
      }
    }
  }
  .rules-page-link {
    top: 7px;
  }
  .music-toggle {
    top: 70px;
  }
  .upper-button {
    background-color: $colour1;
    border-color: $colour4;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    cursor: pointer;
    font-size: 42px;
    height: 60px;
    padding: 5px;
    position: absolute;
    right: 7px;
    transition: 0.3s ease-in-out border-color, 0.3s ease-in-out background-color;
    width: 60px;
    * {
      color: $colour4;
      transition: 0.3s ease-in-out color;
    }
  }
  .upper-button:hover {
    background-color: $colour4;
    border-color: $colour1;
    * {
      color: $colour1;
    }
  }
}

.route {
  max-height: 70vh;
  min-height: 70vh;
  overflow-y: scroll;
}

.start-screen {
  position: relative;
  .start-screen-content-container {
    position: absolute;
    top: 21%;
    width: 100%;
    .start-screen-text {
      animation: fadeInOut 2s infinite linear;
      color: $colour4;
      font-family: $font2;
      font-size: 35px;
      text-shadow: 1px 1px 0 $colour3, -1px -1px 0 $colour3, -1px 1px 0 $colour3,
        1px -1px 0 $colour3;
    }
    .start-screen-buttons-container {
      display: flex;
      flex-direction: column;
      .start-screen-button {
        background-color: $colour1;
        border: none;
        border-radius: 7px;
        color: $colour2;
        cursor: pointer;
        font-size: 21px;
        margin-top: 14px;
        padding: 6px 0;
        transition: 0.6s ease-in-out font-size, 0.6s ease-in-out margin-top,
          0.6s ease-in-out padding, 0.6s ease-in-out width;
        width: 140px;
      }
      .start-screen-button:hover {
        font-size: 28px;
        margin-top: 8px;
        padding: 12px 0;
        width: 160px;
      }
      .start-screen-rules {
        background-color: $colour4;
        color: $colour3;
      }
    }
  }
}

.rules-screen {
  .rules-container {
    .rules-container-row {
      display: flex;
      .rules-box {
        background-color: $colour1;
        border: 4px solid $colour4;
        border-radius: 14px;
        padding: 6px;
        * {
          color: $colour2;
          font-size: 42px;
        }
      }
      .rules-box-beats,
      .rules-box-and {
        font-size: 21px;
        padding-top: 21px;
      }
      .rules-box-beats {
        margin: 0 7px;
      }
    }
  }
}

.game-on-screen {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 21px;
  .game-on-header {
    animation: fadeInOut 2s infinite linear;
    color: $colour4;
    font-family: $font2;
    font-size: 35px;
    text-shadow: 1px 1px 0 $colour3, -1px -1px 0 $colour3, -1px 1px 0 $colour3,
      1px -1px 0 $colour3;
  }
  .choice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 300px;
    .choice {
      background-color: $colour1;
      border-color: $colour4;
      border-radius: 14px;
      border-style: solid;
      border-width: 4px;
      cursor: pointer;
      height: 90px;
      margin-top: 14px;
      max-width: 81px;
      min-width: 90px;
      padding-left: 0;
      padding-top: 5px;
      transition: 0.3s ease-in-out border-width, 0.3s ease-in-out padding-left,
        0.3s ease-in-out padding-top;
      width: 100%;
      * {
        color: $colour2;
        font-size: 70px;
        transition: 0.3s ease-in-out font-size;
      }
    }
    .choice:hover {
      border-width: 0;
      padding-left: -5px;
      padding-top: 0px;
      * {
        font-size: 90px;
      }
    }
    .void-choice-container {
      background-color: $colour1;
      border-radius: 50%;
      height: 100px;
      margin-top: 7px;
      padding: 6px;
      width: 100px;
      .void-choice {
        * {
          color: $colour4;
          font-size: 88px;
        }
      }
    }
  }
}

.game-over-screen {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  .countdown {
    color: $colour4;
    font-family: $font2;
    font-size: 120px;
    margin-bottom: -14px;
    margin-top: 14px;
    text-shadow: 1px 1px 0 $colour3, -1px -1px 0 $colour3, -1px 1px 0 $colour3,
      1px -1px 0 $colour3;
  }
  .game-over-screen-title {
    color: $colour1;
    font-size: 120px;
    font-weight: 100;
    line-height: 90px;
  }
  .game-over-screen-subtitle {
    animation: fadeInOut 2s infinite linear;
    font-family: $font2;
    font-size: 35px;
    margin-bottom: 14px;
  }
  .game-over-screen-buttons {
    display: flex;
    flex-direction: column;
    .game-over-screen-button {
      background-color: $colour1;
      border: none;
      border-radius: 7px;
      color: $colour2;
      cursor: pointer;
      font-size: 21px;
      margin-left: 50%;
      margin-top: 14px;
      padding: 6px 0;
      transform: translateX(-50%);
      transition: 0.6s ease-in-out font-size, 0.6s ease-in-out margin-top,
        0.6s ease-in-out padding, 0.6s ease-in-out width;
      width: 140px;
    }
    .game-over-screen-button:hover {
      font-size: 28px;
      margin-top: 8px;
      padding: 12px 0;
      width: 160px;
    }
    .game-over-restart {
      background-color: $colour4;
      color: $colour3;
    }
  }
}
